# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Base de datos
*.sqlite3
*.sqlite3-journal

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Archivos de proyecto
*.bak
*.orig