{% extends "base.html" %}

{% block content %}

<div class="container">

<h2>Nuevo Curso</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Nombre</label>

<input type="text" name="nombre" class="form-control" required>

</div>

<div class="mb-3">

<label>Descripción</label>

<textarea name="descripcion" class="form-control"></textarea>

</div>

<button class="btn btn-primary">
Guardar
</button>

<a href="{% url 'alumno:cursos' %}" class="btn btn-secondary">
Cancelar
</a>

</form>

</div>

{% endblock %}
