{% extends 'base.html' %}

{% block content %}
<h1>Listado de Alumnos registrados hasta ahora:</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>

    {% for alumno in alumnos %}
    <tr>
        <td>{{ alumno.id }}</td>
        <td>{{ alumno.first_name }}</td>
        <td>{{ alumno.last_name }}</td>
        <td>{{ alumno.email }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay alumnos registrados</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}